<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Attendance Checker</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="login">Login</a></li>
  <li><a href="logout">Logout</a></li>
  <li><a href="edituser">Edit Profile</a></li>
  <li><a href="register">Register</a></li>
</ul>
<nav class="white">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">A.C.A.</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="listofusers">List of Users</a></li>
      <li><a href="attendance">Attendance</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">My Account<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">A.C.A.</h1>
        <div class="row center">
          <h5 class="header col s12 light">An Attendance Checker App.</h5>
        </div>
        <div class="row center">
          <a href="#info" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Goal of the Site</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="img/bg.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section" id="info">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Goal of this site:</h4>
          <p class="center-align light">To showcase an attendance checker with the following functionalities:</p>
          <ul>
            <li>Login</li>
            <li>Logout</li>
            <li>Edit Profile</li>
            <li>Register</li>
            <li>View the current Users</li>
            <li>Check their Attendance</li>
          </ul>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Register Now by clicking the link below:</h5>
                  <div class="row center">
          <a href="register" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Register</a>
        </div>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/bg2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Creator Info</h5>
          <p class="grey-text text-lighten-4">Isaiah Evans Villa Abrille is a 4th year Information Technology student from the University of the Immaculate Conception Major in Software Engineering.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="/">Back to Top</a></li>
            <li><a class="white-text" href="#info">Goal of the Site</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="www.facebook.com/AyeSahYah">Facebook</a></li>
            <li><a class="white-text" href="www.twitter.com/AyeSahYah">Twitter</a></li>
            <li><a class="white-text" href="www.github.com/ivillaabrille">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="www.github.com/ivillaabrille">Isaiah Villa Abrille</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
